{% extends "base.html" %}
{% block link_style %} <link rel="stylesheet" href="{{ url_for('static', filename='css/auth/base.css') }}"> {% endblock %}
{% block content %}
    <div class="main-form col-12">
        <div class="row m-auto">
            <div class="items col-md-6 col-12 bg-primary">
                <div>
                    <p class="header-items">{% block header %}{% endblock %}</p>
                    <p>{% block description %}{% endblock %}</p>
                </div>
            </div>
            <div class="form col-md-6 col-12 bg-white">
                {% block form %}{% endblock %}
            </div>
        </div>
    </div>
{% endblock %}

