{% extends "auth/main.html" %}
{% block title %} Восстановление аккаунта {% endblock %}
{% block header %} Восстановление доступа к аккаунту  {% endblock %}
{% block description %} Введите свою почту чтобы мы отправли вам письмо для дальнейших указаний. {% endblock %}
{% block form %}
     <form method="post">
         {{ form_reset_password.hidden_tag() }}
         <p class="header-form">Отправка письма</p>
         {% for cat, msg in get_flashed_messages(True) %}
            <p><div class="alert alert-{{ cat }} alert-dismissible fade show">
                 {{ msg }}
                 <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            </div></p>
        {% endfor %}
        {% for _ in form_reset_password.recaptcha.errors %}
             <p><div class="alert alert-danger alert-dismissible fade show">
                 Неверно выполнена recaptcha
                 <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
             </div></p>
       {% endfor %}
        <p><div class="input-group">
            <div class="input-group-text text-white bg-primary">@</div>
            {{ form_reset_password.email(class="form-control", placeholder="Email") }}
        </div>
        </p>
        <p>{{ form_reset_password.recaptcha() }}</p>
        <p>{{ form_reset_password.submit(class="btn bg-primary text-white w-100") }}</p>
    </form>
{% endblock %}

