{% if all_answers.items != [] %}
    {% for answer in all_answers %}
        <div class="col-12 answer" id="answer{{ answer.id }}" {% if all_answers.has_next %}
                 hx-get="{{ url_for('questions.answers', id_question=id_question, page=all_answers.next_num) }}"
                 hx-trigger="revealed"
                 hx-swap="afterend" {% endif %}>
            <div class="row">
                <div class="col-12">
                    <div class="row">
                        <div class="col-auto">
                            <img src="{{ avatars.gravatar(answer.account.user.hash_email()) }}">
                        </div>
                        <div class="col">
                            <div class="row">
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col nickname">
                                            <a href="{{ url_for('account.account_user', nickname=answer.account.nickname) }}">{{ answer.account.nickname }}</a>
                                        </div>
                                        {% if current_user.is_authenticated and answer.account_id == current_user.id %}
                                            <div class="col-auto">
                                                <button class="btn btn-sm btn-outline-danger" hx-delete="{{ url_for('questions.delete_answer', id_answer=answer.id) }}" hx-target="#answer{{ answer.id }} "  hx-swap="outerHTML" hx-confirm="Вы точно хотите удалить ответ?">Удалить</button>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-auto header-create-time">
                                            Создан:
                                        </div>
                                        <div class="col value-create-time">
                                            {{ answer.format_create_time() }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 text" id="collapse-{{ answer.id }}">
                    {{ answer.text|safe }}
                </div>
                {% if answer.text|length > 300 %}
                     <div class="col-12">
                         <a class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover expand-text" data-collapse-id="{{ answer.id }}">Развернуть</a>
                     </div>
                {% endif %}
            </div>
        </div>
    {% endfor %}
{% else %}
    <div class="col-12 text-center">
       <h6>Ответов нет</h6>
    </div>
{% endif %}
