.review {
    padding: 15px;
    border-bottom: 1px dashed rgb(13, 110, 253);
}
.review div.text div {
    overflow: hidden;
    word-break: break-word;
    max-height: 150px;
    font-size: 16px;
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
}
.expand-text {
    font-size: 15px;
    cursor: pointer;
}
.review .create-time {
    font-size: 15px;
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bolder;
}
.review .text {
    margin-top: 5px;
}

