.review {
    padding: 15px;
    border-bottom: 1px dashed rgb(13, 110, 253);
}
.review div.text {
    word-break: break-word;
    max-height: 300px;
    overflow-x: hidden;
    overflow-y: auto;
    font-size: 16px;
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    margin-top: 5px;
}
.review .create-time {
    font-size: 15px;
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bolder;
}


